<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUICantina.Properties.Settings.dbcantinaConnectionString"
            connectionString="Data Source=desktop-v72h0i5;Initial Catalog=dbcantina;User ID=sa;Password=2015@c3f3t"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>